.center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
.project-item{
    cursor: pointer;   
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:segoe ui;
    margin: 0 auto;
}
.name-project{
    text-overflow: ellipsis; 
    overflow: hidden;
    width: 25%;
}